.container{
  min-height: calc(100vh - 50px);
  padding-top: 20px;
  margin: 0 auto;
  max-width: 45%;
}

.search{
  border: none;
  min-width: 80%;
  margin-left: 7px;
  outline: none;
  border-right: 1px solid #E6E6E6;
}