.container{
    width: 48%;
    margin: 0 auto;
    padding-top: 50px;
}

.cart{
    display: flex;
    box-shadow: 10px 10px 5px rgb(213, 219, 221);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.price{
    width: 200px;
}
.cart p{
    text-align: center;
}

.cart img{
    width: 200px;
    height: 100%;
}
.right{
    margin-left: 20px;
}

.quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    margin: 0 auto;
}

.quantity button{
    height: 30px;
}

.quantity input{
    text-align: center;
    width: 30px;
}

@media screen and (max-width: 768px){
    .cart{
        flex-direction: column;
    }

    .cart button{
    }

    .cart img{
        width: 300px;
        height: 350px;
    }
    .quantity{
        width: 150px;
        margin-left: -10px;
    }
    .container{
        width: 100%;
    }
}